[submodule "0"]
	path = submodules/0
	url = https://github.com/numpy/numpy
[submodule "1"]
	path = submodules/1
	url = https://github.com/numpy/numpy
[submodule "2"]
	path = submodules/2
	url = https://github.com/numpy/numpy
[submodule "3"]
	path = submodules/3
	url = https://github.com/numpy/numpy
[submodule "4"]
	path = submodules/4
	url = https://github.com/numpy/numpy
[submodule "5"]
	path = submodules/5
	url = https://github.com/numpy/numpy
[submodule "6"]
	path = submodules/6
	url = https://github.com/numpy/numpy
[submodule "7"]
	path = submodules/7
	url = https://github.com/numpy/numpy
[submodule "8"]
	path = submodules/8
	url = https://github.com/numpy/numpy
[submodule "9"]
	path = submodules/9
	url = https://github.com/numpy/numpy
[submodule "10"]
	path = submodules/10
	url = https://github.com/numpy/numpy
[submodule "11"]
	path = submodules/11
	url = https://github.com/numpy/numpy
[submodule "12"]
	path = submodules/12
	url = https://github.com/numpy/numpy
[submodule "13"]
	path = submodules/13
	url = https://github.com/numpy/numpy
[submodule "14"]
	path = submodules/14
	url = https://github.com/numpy/numpy
[submodule "15"]
	path = submodules/15
	url = https://github.com/numpy/numpy
[submodule "16"]
	path = submodules/16
	url = https://github.com/numpy/numpy
[submodule "17"]
	path = submodules/17
	url = https://github.com/numpy/numpy
[submodule "18"]
	path = submodules/18
	url = https://github.com/numpy/numpy
[submodule "19"]
	path = submodules/19
	url = https://github.com/numpy/numpy
[submodule "20"]
	path = submodules/20
	url = https://github.com/numpy/numpy
[submodule "21"]
	path = submodules/21
	url = https://github.com/numpy/numpy
[submodule "22"]
	path = submodules/22
	url = https://github.com/numpy/numpy
[submodule "23"]
	path = submodules/23
	url = https://github.com/numpy/numpy
[submodule "24"]
	path = submodules/24
	url = https://github.com/numpy/numpy
[submodule "25"]
	path = submodules/25
	url = https://github.com/numpy/numpy
[submodule "26"]
	path = submodules/26
	url = https://github.com/numpy/numpy
[submodule "27"]
	path = submodules/27
	url = https://github.com/numpy/numpy
[submodule "28"]
	path = submodules/28
	url = https://github.com/numpy/numpy
[submodule "29"]
	path = submodules/29
	url = https://github.com/numpy/numpy
[submodule "30"]
	path = submodules/30
	url = https://github.com/numpy/numpy
[submodule "31"]
	path = submodules/31
	url = https://github.com/numpy/numpy
[submodule "32"]
	path = submodules/32
	url = https://github.com/numpy/numpy
[submodule "33"]
	path = submodules/33
	url = https://github.com/numpy/numpy
[submodule "34"]
	path = submodules/34
	url = https://github.com/numpy/numpy
[submodule "35"]
	path = submodules/35
	url = https://github.com/numpy/numpy
[submodule "36"]
	path = submodules/36
	url = https://github.com/numpy/numpy
[submodule "37"]
	path = submodules/37
	url = https://github.com/numpy/numpy
[submodule "38"]
	path = submodules/38
	url = https://github.com/numpy/numpy
[submodule "39"]
	path = submodules/39
	url = https://github.com/numpy/numpy
[submodule "40"]
	path = submodules/40
	url = https://github.com/numpy/numpy
[submodule "41"]
	path = submodules/41
	url = https://github.com/numpy/numpy
[submodule "42"]
	path = submodules/42
	url = https://github.com/numpy/numpy
[submodule "43"]
	path = submodules/43
	url = https://github.com/numpy/numpy
[submodule "44"]
	path = submodules/44
	url = https://github.com/numpy/numpy
[submodule "45"]
	path = submodules/45
	url = https://github.com/numpy/numpy
[submodule "46"]
	path = submodules/46
	url = https://github.com/numpy/numpy
[submodule "47"]
	path = submodules/47
	url = https://github.com/numpy/numpy
[submodule "48"]
	path = submodules/48
	url = https://github.com/numpy/numpy
[submodule "49"]
	path = submodules/49
	url = https://github.com/numpy/numpy
[submodule "50"]
	path = submodules/50
	url = https://github.com/numpy/numpy
[submodule "51"]
	path = submodules/51
	url = https://github.com/numpy/numpy
[submodule "52"]
	path = submodules/52
	url = https://github.com/numpy/numpy
[submodule "53"]
	path = submodules/53
	url = https://github.com/numpy/numpy
[submodule "54"]
	path = submodules/54
	url = https://github.com/numpy/numpy
[submodule "55"]
	path = submodules/55
	url = https://github.com/numpy/numpy
[submodule "56"]
	path = submodules/56
	url = https://github.com/numpy/numpy
[submodule "57"]
	path = submodules/57
	url = https://github.com/numpy/numpy
[submodule "58"]
	path = submodules/58
	url = https://github.com/numpy/numpy
[submodule "59"]
	path = submodules/59
	url = https://github.com/numpy/numpy
[submodule "60"]
	path = submodules/60
	url = https://github.com/numpy/numpy
[submodule "61"]
	path = submodules/61
	url = https://github.com/numpy/numpy
[submodule "62"]
	path = submodules/62
	url = https://github.com/numpy/numpy
[submodule "63"]
	path = submodules/63
	url = https://github.com/numpy/numpy
[submodule "64"]
	path = submodules/64
	url = https://github.com/numpy/numpy
[submodule "65"]
	path = submodules/65
	url = https://github.com/numpy/numpy
[submodule "66"]
	path = submodules/66
	url = https://github.com/numpy/numpy
[submodule "67"]
	path = submodules/67
	url = https://github.com/numpy/numpy
[submodule "68"]
	path = submodules/68
	url = https://github.com/numpy/numpy
[submodule "69"]
	path = submodules/69
	url = https://github.com/numpy/numpy
[submodule "70"]
	path = submodules/70
	url = https://github.com/numpy/numpy
[submodule "71"]
	path = submodules/71
	url = https://github.com/numpy/numpy
[submodule "72"]
	path = submodules/72
	url = https://github.com/numpy/numpy
[submodule "73"]
	path = submodules/73
	url = https://github.com/numpy/numpy
[submodule "74"]
	path = submodules/74
	url = https://github.com/numpy/numpy
[submodule "75"]
	path = submodules/75
	url = https://github.com/numpy/numpy
[submodule "76"]
	path = submodules/76
	url = https://github.com/numpy/numpy
[submodule "77"]
	path = submodules/77
	url = https://github.com/numpy/numpy
[submodule "78"]
	path = submodules/78
	url = https://github.com/numpy/numpy
[submodule "79"]
	path = submodules/79
	url = https://github.com/numpy/numpy
[submodule "80"]
	path = submodules/80
	url = https://github.com/numpy/numpy
[submodule "81"]
	path = submodules/81
	url = https://github.com/numpy/numpy
[submodule "82"]
	path = submodules/82
	url = https://github.com/numpy/numpy
[submodule "83"]
	path = submodules/83
	url = https://github.com/numpy/numpy
[submodule "84"]
	path = submodules/84
	url = https://github.com/numpy/numpy
[submodule "85"]
	path = submodules/85
	url = https://github.com/numpy/numpy
[submodule "86"]
	path = submodules/86
	url = https://github.com/numpy/numpy
[submodule "87"]
	path = submodules/87
	url = https://github.com/numpy/numpy
[submodule "88"]
	path = submodules/88
	url = https://github.com/numpy/numpy
[submodule "89"]
	path = submodules/89
	url = https://github.com/numpy/numpy
[submodule "90"]
	path = submodules/90
	url = https://github.com/numpy/numpy
[submodule "91"]
	path = submodules/91
	url = https://github.com/numpy/numpy
[submodule "92"]
	path = submodules/92
	url = https://github.com/numpy/numpy
[submodule "93"]
	path = submodules/93
	url = https://github.com/numpy/numpy
[submodule "94"]
	path = submodules/94
	url = https://github.com/numpy/numpy
[submodule "95"]
	path = submodules/95
	url = https://github.com/numpy/numpy
[submodule "96"]
	path = submodules/96
	url = https://github.com/numpy/numpy
[submodule "97"]
	path = submodules/97
	url = https://github.com/numpy/numpy
[submodule "98"]
	path = submodules/98
	url = https://github.com/numpy/numpy
[submodule "99"]
	path = submodules/99
	url = https://github.com/numpy/numpy
[submodule "100"]
	path = submodules/100
	url = https://github.com/numpy/numpy
[submodule "101"]
	path = submodules/101
	url = https://github.com/numpy/numpy
[submodule "102"]
	path = submodules/102
	url = https://github.com/numpy/numpy
[submodule "103"]
	path = submodules/103
	url = https://github.com/numpy/numpy
[submodule "104"]
	path = submodules/104
	url = https://github.com/numpy/numpy
[submodule "105"]
	path = submodules/105
	url = https://github.com/numpy/numpy
[submodule "106"]
	path = submodules/106
	url = https://github.com/numpy/numpy
[submodule "111"]
	path = submodules/111
	url = https://github.com/numpy/numpy
[submodule "112"]
	path = submodules/112
	url = https://github.com/numpy/numpy
[submodule "113"]
	path = submodules/113
	url = https://github.com/numpy/numpy
[submodule "114"]
	path = submodules/114
	url = https://github.com/numpy/numpy
[submodule "115"]
	path = submodules/115
	url = https://github.com/numpy/numpy
[submodule "116"]
	path = submodules/116
	url = https://github.com/numpy/numpy
[submodule "117"]
	path = submodules/117
	url = https://github.com/numpy/numpy
[submodule "118"]
	path = submodules/118
	url = https://github.com/numpy/numpy
[submodule "119"]
	path = submodules/119
	url = https://github.com/numpy/numpy
[submodule "120"]
	path = submodules/120
	url = https://github.com/numpy/numpy
[submodule "121"]
	path = submodules/121
	url = https://github.com/numpy/numpy
[submodule "122"]
	path = submodules/122
	url = https://github.com/numpy/numpy
[submodule "123"]
	path = submodules/123
	url = https://github.com/numpy/numpy
[submodule "124"]
	path = submodules/124
	url = https://github.com/numpy/numpy
[submodule "125"]
	path = submodules/125
	url = https://github.com/numpy/numpy
[submodule "126"]
	path = submodules/126
	url = https://github.com/numpy/numpy
[submodule "127"]
	path = submodules/127
	url = https://github.com/numpy/numpy
[submodule "128"]
	path = submodules/128
	url = https://github.com/numpy/numpy
[submodule "129"]
	path = submodules/129
	url = https://github.com/numpy/numpy
[submodule "130"]
	path = submodules/130
	url = https://github.com/numpy/numpy
[submodule "131"]
	path = submodules/131
	url = https://github.com/numpy/numpy
[submodule "132"]
	path = submodules/132
	url = https://github.com/numpy/numpy
[submodule "133"]
	path = submodules/133
	url = https://github.com/numpy/numpy
[submodule "134"]
	path = submodules/134
	url = https://github.com/numpy/numpy
[submodule "135"]
	path = submodules/135
	url = https://github.com/numpy/numpy
[submodule "136"]
	path = submodules/136
	url = https://github.com/numpy/numpy
[submodule "137"]
	path = submodules/137
	url = https://github.com/numpy/numpy
[submodule "138"]
	path = submodules/138
	url = https://github.com/numpy/numpy
[submodule "139"]
	path = submodules/139
	url = https://github.com/numpy/numpy
[submodule "140"]
	path = submodules/140
	url = https://github.com/numpy/numpy
[submodule "141"]
	path = submodules/141
	url = https://github.com/numpy/numpy
[submodule "142"]
	path = submodules/142
	url = https://github.com/numpy/numpy
[submodule "143"]
	path = submodules/143
	url = https://github.com/numpy/numpy
[submodule "144"]
	path = submodules/144
	url = https://github.com/numpy/numpy
[submodule "145"]
	path = submodules/145
	url = https://github.com/numpy/numpy
[submodule "146"]
	path = submodules/146
	url = https://github.com/numpy/numpy
[submodule "147"]
	path = submodules/147
	url = https://github.com/numpy/numpy
[submodule "148"]
	path = submodules/148
	url = https://github.com/numpy/numpy
[submodule "149"]
	path = submodules/149
	url = https://github.com/numpy/numpy
[submodule "150"]
	path = submodules/150
	url = https://github.com/numpy/numpy
[submodule "151"]
	path = submodules/151
	url = https://github.com/numpy/numpy
[submodule "152"]
	path = submodules/152
	url = https://github.com/numpy/numpy
[submodule "153"]
	path = submodules/153
	url = https://github.com/numpy/numpy
[submodule "154"]
	path = submodules/154
	url = https://github.com/numpy/numpy
[submodule "155"]
	path = submodules/155
	url = https://github.com/numpy/numpy
[submodule "156"]
	path = submodules/156
	url = https://github.com/numpy/numpy
[submodule "157"]
	path = submodules/157
	url = https://github.com/numpy/numpy
[submodule "158"]
	path = submodules/158
	url = https://github.com/numpy/numpy
[submodule "159"]
	path = submodules/159
	url = https://github.com/numpy/numpy
[submodule "160"]
	path = submodules/160
	url = https://github.com/numpy/numpy
[submodule "161"]
	path = submodules/161
	url = https://github.com/numpy/numpy
[submodule "162"]
	path = submodules/162
	url = https://github.com/numpy/numpy
[submodule "163"]
	path = submodules/163
	url = https://github.com/numpy/numpy
[submodule "164"]
	path = submodules/164
	url = https://github.com/numpy/numpy
[submodule "165"]
	path = submodules/165
	url = https://github.com/numpy/numpy
[submodule "166"]
	path = submodules/166
	url = https://github.com/numpy/numpy
[submodule "167"]
	path = submodules/167
	url = https://github.com/numpy/numpy
[submodule "168"]
	path = submodules/168
	url = https://github.com/numpy/numpy
[submodule "169"]
	path = submodules/169
	url = https://github.com/numpy/numpy
[submodule "170"]
	path = submodules/170
	url = https://github.com/numpy/numpy
[submodule "171"]
	path = submodules/171
	url = https://github.com/numpy/numpy
[submodule "175"]
	path = submodules/175
	url = https://github.com/numpy/numpy
[submodule "176"]
	path = submodules/176
	url = https://github.com/numpy/numpy
[submodule "177"]
	path = submodules/177
	url = https://github.com/numpy/numpy
[submodule "178"]
	path = submodules/178
	url = https://github.com/numpy/numpy
[submodule "179"]
	path = submodules/179
	url = https://github.com/numpy/numpy
[submodule "180"]
	path = submodules/180
	url = https://github.com/numpy/numpy
[submodule "181"]
	path = submodules/181
	url = https://github.com/numpy/numpy
[submodule "182"]
	path = submodules/182
	url = https://github.com/numpy/numpy
[submodule "183"]
	path = submodules/183
	url = https://github.com/numpy/numpy
[submodule "184"]
	path = submodules/184
	url = https://github.com/numpy/numpy
[submodule "185"]
	path = submodules/185
	url = https://github.com/numpy/numpy
[submodule "186"]
	path = submodules/186
	url = https://github.com/numpy/numpy
[submodule "187"]
	path = submodules/187
	url = https://github.com/numpy/numpy
[submodule "188"]
	path = submodules/188
	url = https://github.com/numpy/numpy
[submodule "189"]
	path = submodules/189
	url = https://github.com/numpy/numpy
[submodule "190"]
	path = submodules/190
	url = https://github.com/numpy/numpy
[submodule "191"]
	path = submodules/191
	url = https://github.com/numpy/numpy
[submodule "192"]
	path = submodules/192
	url = https://github.com/numpy/numpy
[submodule "193"]
	path = submodules/193
	url = https://github.com/numpy/numpy
[submodule "194"]
	path = submodules/194
	url = https://github.com/numpy/numpy
[submodule "195"]
	path = submodules/195
	url = https://github.com/numpy/numpy
[submodule "196"]
	path = submodules/196
	url = https://github.com/numpy/numpy
[submodule "197"]
	path = submodules/197
	url = https://github.com/numpy/numpy
[submodule "198"]
	path = submodules/198
	url = https://github.com/numpy/numpy
[submodule "199"]
	path = submodules/199
	url = https://github.com/numpy/numpy
[submodule "200"]
	path = submodules/200
	url = https://github.com/numpy/numpy
[submodule "201"]
	path = submodules/201
	url = https://github.com/numpy/numpy
[submodule "202"]
	path = submodules/202
	url = https://github.com/numpy/numpy
[submodule "203"]
	path = submodules/203
	url = https://github.com/numpy/numpy
[submodule "204"]
	path = submodules/204
	url = https://github.com/numpy/numpy
[submodule "205"]
	path = submodules/205
	url = https://github.com/numpy/numpy
[submodule "206"]
	path = submodules/206
	url = https://github.com/numpy/numpy
[submodule "207"]
	path = submodules/207
	url = https://github.com/numpy/numpy
[submodule "208"]
	path = submodules/208
	url = https://github.com/numpy/numpy
[submodule "209"]
	path = submodules/209
	url = https://github.com/numpy/numpy
[submodule "210"]
	path = submodules/210
	url = https://github.com/numpy/numpy
[submodule "211"]
	path = submodules/211
	url = https://github.com/numpy/numpy
[submodule "212"]
	path = submodules/212
	url = https://github.com/numpy/numpy
[submodule "213"]
	path = submodules/213
	url = https://github.com/numpy/numpy
[submodule "214"]
	path = submodules/214
	url = https://github.com/numpy/numpy
[submodule "215"]
	path = submodules/215
	url = https://github.com/numpy/numpy
[submodule "216"]
	path = submodules/216
	url = https://github.com/numpy/numpy
[submodule "217"]
	path = submodules/217
	url = https://github.com/numpy/numpy
[submodule "218"]
	path = submodules/218
	url = https://github.com/numpy/numpy
[submodule "219"]
	path = submodules/219
	url = https://github.com/numpy/numpy
[submodule "220"]
	path = submodules/220
	url = https://github.com/numpy/numpy
[submodule "221"]
	path = submodules/221
	url = https://github.com/numpy/numpy
[submodule "222"]
	path = submodules/222
	url = https://github.com/numpy/numpy
[submodule "223"]
	path = submodules/223
	url = https://github.com/numpy/numpy
[submodule "224"]
	path = submodules/224
	url = https://github.com/numpy/numpy
[submodule "225"]
	path = submodules/225
	url = https://github.com/numpy/numpy
[submodule "226"]
	path = submodules/226
	url = https://github.com/numpy/numpy
[submodule "227"]
	path = submodules/227
	url = https://github.com/numpy/numpy
[submodule "228"]
	path = submodules/228
	url = https://github.com/numpy/numpy
[submodule "229"]
	path = submodules/229
	url = https://github.com/numpy/numpy
[submodule "230"]
	path = submodules/230
	url = https://github.com/numpy/numpy
[submodule "231"]
	path = submodules/231
	url = https://github.com/numpy/numpy
[submodule "232"]
	path = submodules/232
	url = https://github.com/numpy/numpy
[submodule "233"]
	path = submodules/233
	url = https://github.com/numpy/numpy
[submodule "234"]
	path = submodules/234
	url = https://github.com/numpy/numpy
[submodule "235"]
	path = submodules/235
	url = https://github.com/numpy/numpy
[submodule "236"]
	path = submodules/236
	url = https://github.com/numpy/numpy
[submodule "237"]
	path = submodules/237
	url = https://github.com/numpy/numpy
[submodule "238"]
	path = submodules/238
	url = https://github.com/numpy/numpy
[submodule "239"]
	path = submodules/239
	url = https://github.com/numpy/numpy
[submodule "240"]
	path = submodules/240
	url = https://github.com/numpy/numpy
[submodule "241"]
	path = submodules/241
	url = https://github.com/numpy/numpy
[submodule "242"]
	path = submodules/242
	url = https://github.com/numpy/numpy
[submodule "243"]
	path = submodules/243
	url = https://github.com/numpy/numpy
[submodule "244"]
	path = submodules/244
	url = https://github.com/numpy/numpy
[submodule "245"]
	path = submodules/245
	url = https://github.com/numpy/numpy
[submodule "246"]
	path = submodules/246
	url = https://github.com/numpy/numpy
[submodule "247"]
	path = submodules/247
	url = https://github.com/numpy/numpy
[submodule "248"]
	path = submodules/248
	url = https://github.com/numpy/numpy
[submodule "249"]
	path = submodules/249
	url = https://github.com/numpy/numpy
[submodule "250"]
	path = submodules/250
	url = https://github.com/numpy/numpy
[submodule "251"]
	path = submodules/251
	url = https://github.com/numpy/numpy
[submodule "252"]
	path = submodules/252
	url = https://github.com/numpy/numpy
[submodule "253"]
	path = submodules/253
	url = https://github.com/numpy/numpy
[submodule "254"]
	path = submodules/254
	url = https://github.com/numpy/numpy
[submodule "255"]
	path = submodules/255
	url = https://github.com/numpy/numpy
[submodule "256"]
	path = submodules/256
	url = https://github.com/numpy/numpy
[submodule "257"]
	path = submodules/257
	url = https://github.com/numpy/numpy
[submodule "258"]
	path = submodules/258
	url = https://github.com/numpy/numpy
[submodule "259"]
	path = submodules/259
	url = https://github.com/numpy/numpy
[submodule "260"]
	path = submodules/260
	url = https://github.com/numpy/numpy
[submodule "261"]
	path = submodules/261
	url = https://github.com/numpy/numpy
[submodule "262"]
	path = submodules/262
	url = https://github.com/numpy/numpy
[submodule "263"]
	path = submodules/263
	url = https://github.com/numpy/numpy
[submodule "264"]
	path = submodules/264
	url = https://github.com/numpy/numpy
[submodule "265"]
	path = submodules/265
	url = https://github.com/numpy/numpy
[submodule "266"]
	path = submodules/266
	url = https://github.com/numpy/numpy
[submodule "267"]
	path = submodules/267
	url = https://github.com/numpy/numpy
[submodule "268"]
	path = submodules/268
	url = https://github.com/numpy/numpy
[submodule "269"]
	path = submodules/269
	url = https://github.com/numpy/numpy
[submodule "270"]
	path = submodules/270
	url = https://github.com/numpy/numpy
[submodule "271"]
	path = submodules/271
	url = https://github.com/numpy/numpy
[submodule "272"]
	path = submodules/272
	url = https://github.com/numpy/numpy
[submodule "273"]
	path = submodules/273
	url = https://github.com/numpy/numpy
[submodule "274"]
	path = submodules/274
	url = https://github.com/numpy/numpy
[submodule "275"]
	path = submodules/275
	url = https://github.com/numpy/numpy
[submodule "276"]
	path = submodules/276
	url = https://github.com/numpy/numpy
[submodule "277"]
	path = submodules/277
	url = https://github.com/numpy/numpy
[submodule "278"]
	path = submodules/278
	url = https://github.com/numpy/numpy
[submodule "279"]
	path = submodules/279
	url = https://github.com/numpy/numpy
[submodule "280"]
	path = submodules/280
	url = https://github.com/numpy/numpy
[submodule "281"]
	path = submodules/281
	url = https://github.com/numpy/numpy
[submodule "282"]
	path = submodules/282
	url = https://github.com/numpy/numpy
[submodule "283"]
	path = submodules/283
	url = https://github.com/numpy/numpy
[submodule "284"]
	path = submodules/284
	url = https://github.com/numpy/numpy
[submodule "285"]
	path = submodules/285
	url = https://github.com/numpy/numpy
[submodule "286"]
	path = submodules/286
	url = https://github.com/numpy/numpy
[submodule "287"]
	path = submodules/287
	url = https://github.com/numpy/numpy
[submodule "288"]
	path = submodules/288
	url = https://github.com/numpy/numpy
[submodule "289"]
	path = submodules/289
	url = https://github.com/numpy/numpy
[submodule "290"]
	path = submodules/290
	url = https://github.com/numpy/numpy
[submodule "291"]
	path = submodules/291
	url = https://github.com/numpy/numpy
[submodule "292"]
	path = submodules/292
	url = https://github.com/numpy/numpy
[submodule "293"]
	path = submodules/293
	url = https://github.com/numpy/numpy
[submodule "294"]
	path = submodules/294
	url = https://github.com/numpy/numpy
[submodule "295"]
	path = submodules/295
	url = https://github.com/numpy/numpy
[submodule "296"]
	path = submodules/296
	url = https://github.com/numpy/numpy
[submodule "297"]
	path = submodules/297
	url = https://github.com/numpy/numpy
[submodule "298"]
	path = submodules/298
	url = https://github.com/numpy/numpy
[submodule "299"]
	path = submodules/299
	url = https://github.com/numpy/numpy
[submodule "300"]
	path = submodules/300
	url = https://github.com/numpy/numpy
[submodule "301"]
	path = submodules/301
	url = https://github.com/numpy/numpy
[submodule "302"]
	path = submodules/302
	url = https://github.com/numpy/numpy
[submodule "303"]
	path = submodules/303
	url = https://github.com/numpy/numpy
[submodule "304"]
	path = submodules/304
	url = https://github.com/numpy/numpy
[submodule "305"]
	path = submodules/305
	url = https://github.com/numpy/numpy
[submodule "306"]
	path = submodules/306
	url = https://github.com/numpy/numpy
[submodule "307"]
	path = submodules/307
	url = https://github.com/numpy/numpy
[submodule "308"]
	path = submodules/308
	url = https://github.com/numpy/numpy
[submodule "309"]
	path = submodules/309
	url = https://github.com/numpy/numpy
[submodule "310"]
	path = submodules/310
	url = https://github.com/numpy/numpy
[submodule "311"]
	path = submodules/311
	url = https://github.com/numpy/numpy
[submodule "312"]
	path = submodules/312
	url = https://github.com/numpy/numpy
[submodule "313"]
	path = submodules/313
	url = https://github.com/numpy/numpy
[submodule "314"]
	path = submodules/314
	url = https://github.com/numpy/numpy
[submodule "315"]
	path = submodules/315
	url = https://github.com/numpy/numpy
[submodule "316"]
	path = submodules/316
	url = https://github.com/numpy/numpy
[submodule "317"]
	path = submodules/317
	url = https://github.com/numpy/numpy
[submodule "318"]
	path = submodules/318
	url = https://github.com/numpy/numpy
[submodule "319"]
	path = submodules/319
	url = https://github.com/numpy/numpy
[submodule "320"]
	path = submodules/320
	url = https://github.com/numpy/numpy
[submodule "321"]
	path = submodules/321
	url = https://github.com/numpy/numpy
[submodule "322"]
	path = submodules/322
	url = https://github.com/numpy/numpy
[submodule "323"]
	path = submodules/323
	url = https://github.com/numpy/numpy
[submodule "324"]
	path = submodules/324
	url = https://github.com/numpy/numpy
[submodule "325"]
	path = submodules/325
	url = https://github.com/numpy/numpy
[submodule "326"]
	path = submodules/326
	url = https://github.com/numpy/numpy
[submodule "327"]
	path = submodules/327
	url = https://github.com/numpy/numpy
[submodule "328"]
	path = submodules/328
	url = https://github.com/numpy/numpy
[submodule "329"]
	path = submodules/329
	url = https://github.com/numpy/numpy
[submodule "330"]
	path = submodules/330
	url = https://github.com/numpy/numpy
[submodule "331"]
	path = submodules/331
	url = https://github.com/numpy/numpy
[submodule "332"]
	path = submodules/332
	url = https://github.com/numpy/numpy
[submodule "333"]
	path = submodules/333
	url = https://github.com/numpy/numpy
[submodule "334"]
	path = submodules/334
	url = https://github.com/numpy/numpy
[submodule "335"]
	path = submodules/335
	url = https://github.com/numpy/numpy
[submodule "336"]
	path = submodules/336
	url = https://github.com/numpy/numpy
[submodule "337"]
	path = submodules/337
	url = https://github.com/numpy/numpy
[submodule "338"]
	path = submodules/338
	url = https://github.com/numpy/numpy
[submodule "339"]
	path = submodules/339
	url = https://github.com/numpy/numpy
[submodule "340"]
	path = submodules/340
	url = https://github.com/numpy/numpy
[submodule "341"]
	path = submodules/341
	url = https://github.com/numpy/numpy
[submodule "342"]
	path = submodules/342
	url = https://github.com/numpy/numpy
[submodule "343"]
	path = submodules/343
	url = https://github.com/numpy/numpy
[submodule "344"]
	path = submodules/344
	url = https://github.com/numpy/numpy
[submodule "345"]
	path = submodules/345
	url = https://github.com/numpy/numpy
[submodule "346"]
	path = submodules/346
	url = https://github.com/numpy/numpy
[submodule "347"]
	path = submodules/347
	url = https://github.com/numpy/numpy
[submodule "348"]
	path = submodules/348
	url = https://github.com/numpy/numpy
[submodule "349"]
	path = submodules/349
	url = https://github.com/numpy/numpy
[submodule "350"]
	path = submodules/350
	url = https://github.com/numpy/numpy
[submodule "351"]
	path = submodules/351
	url = https://github.com/numpy/numpy
[submodule "352"]
	path = submodules/352
	url = https://github.com/numpy/numpy
[submodule "353"]
	path = submodules/353
	url = https://github.com/numpy/numpy
[submodule "354"]
	path = submodules/354
	url = https://github.com/numpy/numpy
[submodule "355"]
	path = submodules/355
	url = https://github.com/numpy/numpy
[submodule "356"]
	path = submodules/356
	url = https://github.com/numpy/numpy
[submodule "357"]
	path = submodules/357
	url = https://github.com/numpy/numpy
[submodule "358"]
	path = submodules/358
	url = https://github.com/numpy/numpy
[submodule "359"]
	path = submodules/359
	url = https://github.com/numpy/numpy
[submodule "360"]
	path = submodules/360
	url = https://github.com/numpy/numpy
[submodule "361"]
	path = submodules/361
	url = https://github.com/numpy/numpy
[submodule "362"]
	path = submodules/362
	url = https://github.com/numpy/numpy
[submodule "363"]
	path = submodules/363
	url = https://github.com/numpy/numpy
[submodule "364"]
	path = submodules/364
	url = https://github.com/numpy/numpy
[submodule "365"]
	path = submodules/365
	url = https://github.com/numpy/numpy
[submodule "366"]
	path = submodules/366
	url = https://github.com/numpy/numpy
[submodule "367"]
	path = submodules/367
	url = https://github.com/numpy/numpy
[submodule "368"]
	path = submodules/368
	url = https://github.com/numpy/numpy
[submodule "369"]
	path = submodules/369
	url = https://github.com/numpy/numpy
[submodule "370"]
	path = submodules/370
	url = https://github.com/numpy/numpy
[submodule "371"]
	path = submodules/371
	url = https://github.com/numpy/numpy
[submodule "372"]
	path = submodules/372
	url = https://github.com/numpy/numpy
[submodule "373"]
	path = submodules/373
	url = https://github.com/numpy/numpy
[submodule "374"]
	path = submodules/374
	url = https://github.com/numpy/numpy
[submodule "375"]
	path = submodules/375
	url = https://github.com/numpy/numpy
[submodule "376"]
	path = submodules/376
	url = https://github.com/numpy/numpy
[submodule "377"]
	path = submodules/377
	url = https://github.com/numpy/numpy
[submodule "378"]
	path = submodules/378
	url = https://github.com/numpy/numpy
[submodule "379"]
	path = submodules/379
	url = https://github.com/numpy/numpy
[submodule "107"]
	path = submodules/107
	url = https://github.com/numpy/numpy
[submodule "108"]
	path = submodules/108
	url = https://github.com/numpy/numpy
[submodule "109"]
	path = submodules/109
	url = https://github.com/numpy/numpy
[submodule "110"]
	path = submodules/110
	url = https://github.com/numpy/numpy
[submodule "172"]
	path = submodules/172
	url = https://github.com/numpy/numpy
[submodule "173"]
	path = submodules/173
	url = https://github.com/numpy/numpy
[submodule "174"]
	path = submodules/174
	url = https://github.com/numpy/numpy
